{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="login-body">
        <div class="login-box">
            <a class="btn-retour" href="{{ path('home.index') }}">RETOUR</a>
            <br/>
            <h2>Connexion</h2>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}

            {{ form_start(form, {'action': path('app_login'),'method': 'POST','attr': {'data-turbo': 'false'} }) }}


                {{ form_row(form._username) }}
                {{ form_row(form._password) }}

                {# CSRF Token #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {{ form_widget(form.submit) }}

            {{ form_end(form) }}

            <div class="mt-3">
                <a href="{{ path('auth.register') }}">Pas encore de compte ? S'inscrire</a>
            </div>
        </div>
    </div>

{% endblock %}
