{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('admin.category.index') }}">RETOUR</a>
    <br/>

    <div class="category-form-add-title-ctn">
        <h1 class="category-form-add-title">Création d'une catégorie</h1>
    </div>

    {{ form_start(form, {'method': 'POST','attr': {'data-turbo': 'false'}}) }}

    <div class="category-form-add-b2">
        {{  form_row (form.label) }}
    </div>

    <div class="category-form-add-submit">
        {{  form_row (form.save) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
