{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('user.index') }}">RETOUR</a>
    <br/>

    <div class="user-form-add-title-ctn">
        <h1 class="user-form-add-title">Création d'un utilisateur</h1>
    </div>

    {{ form_start(form, {'method': 'POST','attr': {'data-turbo': 'false'}}) }}


    <div class="user-add-grid-3x3">
        {{  form_row (form.name) }}
        {{  form_row (form.email) }}
        {{  form_row (form.bornAt) }}
        {{  form_row (form.country) }}
        {{  form_row (form.city) }}
        {{  form_row (form.image) }}
    </div>

    <div class="user-form-add-b2">
        {{  form_row (form.about) }}
    </div>

    <div class="user-form-add-submit">
        {{  form_row (form.save) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
