{% if documents %}
    <div class="document-list">
    {% for document in documents %}
        <div class="item-document-list justify-content-center document-list-grid-3x3">
            <div class="document-list-title justify-content-center">
                    <a class="user-index-list-a text-indigo-600" href="{{ path('document.show', {id:document.id}) }}">{{ document.title }}</a>
            </div>
            <div class="document-list-category justify-content-center">
                    <a class="user-index-list-a text-indigo-600" href="{{ path('document.show', {id:document.id}) }}">{{ document.categoryId }}</a>
            </div>
            <div class="document-list-creation-date justify-content-center">
                    <a class="user-index-list-a text-indigo-600" href="{{ path('document.show', {id:document.id}) }}">{{ document.createdAt|date("d/m/Y")  }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div> Aucun document !</div>
{% endif %}


