{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div class="home-title">
        <h1>Accueil</h1>

        <p class="mb-4">
            Bienvenue sur DocShare, nous sommes le
            <strong>{{ "now"|date('l d F Y') }}</strong>
        </p>
    </div>

    {% if token|default %}
        <input type="hidden" id="token" name="token" value="{{ token }}" />
        {% block javascripts %}
            {{ parent() }}
            <script>
                // On set le TOKEN
                setTimeout(() => {
                    let login_token = document.getElementById("token")?.value;
                    //console.log('token->'+login_token);
                    window.auth.setToken(login_token);
                }, 1000);

            </script>
        {% endblock %}
    {% endif %}

    {% if message is defined %}
        <div class="home-new-user card">
                <h4> {{ message  }}</h4>


            {% if email is defined %}
                <p>Vous allez recevoir un email contenant un lien sur votre email (<strong>{{ email }}</strong>) qui vous permettra d'activer votre compte.
                    Vous pourrez ensuite vous connecter sur la page de login en cliquant sur ce lien: <a href="{{ path('app_login') }}">Se connecter</a></p>
            {% endif %}
        </div>
    {% endif %}

    {# On inclut un contenu pour embellir la page d'accueil #}
    {% include 'home/content.html.twig' %}

{% endblock %}
