{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('home.index') }}">RETOUR</a>
    <br/>

    <div class="user-form-add-title-ctn">
        <h1 class="user-form-add-title">Liste de tous les documents:</h1>
    </div>

    {% if user is not null %}
        <p>Bonjour, {{ user.email }} !</p>
        <p>Bonjour, {{ app.user.email }} !</p>
        {% if is_granted('ROLE_ADMIN') %}
            votre utilisateur est de type ADMIN
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            votre utilisateur est de type USER
        {% endif %}
    {% else %}
        <p>Uilisateur non authentifié!</p>
        <p>Veuillez vous connecter.</p>
    {% endif %}

    <button class="btn btn-secondary btn-sm" id="test-api-btn">
        TEST API/ME
    </button>

    <div class="btn btn-primary btn-sm user-index-list-table">
        <a class="user-index-add-a" href="{{ path('document.add') }}">Créer un document</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Document</th>
                <th>Action</th>
            </tr>
        </thead>

        {% for document in documents %}
        <tr>
            <td>
                <a class="user-index-list-a text-indigo-600" href="{{ path('document.show', {id:document.id}) }}">{{ loop.index }} : {{ document.title }}</a>
            </td>
            <td class="user-index-actions-td">
                <a class="user-index-list-a text-indigo-600" href="{{ path('document.show', {id:document.id}) }}">Voir</a>
                <a class="user-index-list-a text-indigo-600" href="{{ path('document.edit', {id:document.id}) }}">Editer</a>
                <form action="{{ path('document.delete', {id:document.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% if documents == null %}
        <tr>
            <td>
                <p><strong>Il n'y a aucun document!</strong></p>
            </td>
            <td></td>
        </tr>
        {% endif %}
    </table>


    {% block javascripts %}
        {{ parent() }}   {# ← Très important #}
        <script>
            document.getElementById('test-api-btn')?.addEventListener('click', async () => {
                const token = localStorage.getItem('jwt_token'); // ou le nom que tu utilises

                try {
                    const response = await fetch('{{ url('api_me') }}', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                            'Accept': 'application/json',
                        }
                    });

                    if (!response.ok) {
                        alert("Erreur, il faut être authentifié pour accéder à l'API response status:"+response?.status);
                        console.error("Erreur, il faut être authentifié pour accéder à l'API response:", response);
                        return;
                    }

                    const data = await response.json();

                    if(response.ok){
                        alert("Email: "+data?.user?.email+"\n" +"Rôle: "+data?.user?.roles+"\n");
                    }
                } catch (error) {
                    console.error('Erreur réseau:', error);
                    alert("Erreur réseau ou autre: erreur->"+error);
                }
            });
        </script>
    {% endblock %}


{% endblock %}
