{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('document.index') }}">RETOUR</a>
    <br/>
    <div class="user-show-title-ctn">
        <h1 class="user-show-title">DocumentID: {{document.id}}</h1>
        <a class="user-show-goto-edit" href="{{ url('document.edit', {id:document.id}) }}">MODIFIER</a>
    </div>


    <div class="user-show-card">
        <div class="container-user-show">

            <div class="user-grid-3x2">
                <div id="title-doc">
                    <b>Titre:</b>
                    {{document.title}}</div>
                <div id="file-path">
                    <b>PATH vers fichier:</b>
                    {{document.file}}</div>
                <div id="member-since">
                    <b>Inscrit depuis:</b>
                    {{document.createdAt|date("d/m/Y")}}</div>
                <div id="last-update">
                    <b>Mis à jour le:</b>
                    {{document.updatedAt|date("d/m/Y")}}</div>
                <div id="categoryId">
                    <b>ID Catégorie</b>
                    {{category}}</div>
                <div id="userId">
                    <b>ID créateur</b>
                    {{document.userID}}</div>
            </div>

            <div class="user-show-textarea">
                <h5><b>A propos de moi:</b></h5>
                <div id="aboutme-content">{{document.abstract | nl2br}}</div>
            </div>
        </div>

    </div>

{% endblock %}
