{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('home.index') }}">RETOUR</a>
    <br/>

    <div class="user-index-title-ctn">
        <h1 class="user-index-title">Liste de tous les utilisateurs:</h1>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn btn-primary btn-sm user-index-list-table">
            <a class="user-index-add-a" href="{{ path('user.add') }}">Créer un utilisateur</a>
        </div>
    {% endif %}

    <div class="user-list-container">
        <table class="table user-index-list-table">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(users, 'ID', 'u.id') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(users, 'Nom', 'u.name') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Pays', 'u.country') }}</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="user-index-list-a text-indigo-600" href="{{ path('user.show', {id:user.id}) }}"> {{ user.id }}</a>
                        </td>
                    {% endif %}
                    <td>
                        <a class="user-index-list-a text-indigo-600" href="{{ path('user.show', {id:user.id}) }}">{{ user.name }}</a>
                    </td>
                    <td>
                        <a class="user-index-list-a text-indigo-600" href="{{ path('user.show', {id:user.id}) }}"> {{ user.country }}</a>
                    </td>
                    <td class="user-index-actions-td">
                        <a class="user-index-list-a text-indigo-600" href="{{ path('user.show', {id:user.id}) }}">Voir</a>

                        {% if is_granted('ROLE_ADMIN') or app.user.id == user.id  %}
                            <a class="user-index-list-a text-indigo-600" href="{{ path('user.edit', {id:user.id}) }}">Editer</a>
                            <form action="{{ path('user.delete', {id:user.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {#
    <div class="d-flex">
        {% if page > 1 %}
            <a href="{{ path('user.index', {page: page - 1}) }}" class="btn btn-secondary">Page Précédante</a>
        {% endif %}
        {% if page < maxPage %}
            <a href="{{ path('user.index', {page: page + 1}) }}" class="btn btn-secondary">Page Suivante</a>
        {% endif %}
    </div>
    #}
    <div class="pagination_container">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
