{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <a class="btn-retour" href="{{ url('user.index') }}">RETOUR</a>
    <br/>
    <div class="user-show-title-ctn">
        <h1 class="user-show-title">UtilisateurID: {{user.id}}</h1>
        <a class="user-show-goto-edit text-indigo-600" href="{{ url('user.edit', {id:user.id}) }}">Modifier</a>
    </div>


    <div class="user-show-card">
        <div class="container-user-show">
            <div class="user-show-img">
                {#  <div id="img">{{user.image}}</div> #}
                {% if user.image %}
                    <div class="mb-4">
                        <img src="data:image/jpeg;base64,{{ user.image|base64_encode }}"
                             alt="user profile picture"
                             class="img-thumbnail" style="max-width: 300px;">
                    </div>
                {% endif %}
            </div>

            <div class="user-grid-3x2">
                <div id="name">
                    <b>Login:</b>
                    {{user.name}}</div>
                <div id="email">
                    <b>Mail:</b>
                    {{user.email}}</div>
                <div id="member-since">
                    <b>Inscrit depuis:</b>
                    {{user.createdAt|date("d/m/Y")}}</div>

                <div id="country">
                    <b>Pays:</b>
                    {{user.country}}</div>
                <div id="city">
                    <b>Ville:</b>
                    {{user.city}}</div>
                <div id="birthdate">
                    <b>Date de naissance:</b>
                    {{user.bornAt|date("d/m/Y")}}</div>
            </div>

            <div class="user-show-textarea">
                <h5><b>A propos de moi:</b></h5>
                <div id="aboutme-content">{{user.about | nl2br}}</div>
            </div>
        </div>

    </div>

{% endblock %}
